.Hero {

  display: block;
  position: relative; /* Convertir en contenedor (del SVG) */

  /* Contenedor */
  height: 760px;
  padding: 140px 20px;
  text-align: center;
  /* Color */
  color: #ffffff;
  background: url(../../assets/background-10.jpg);
  background-size: cover;

}

.HeroContent {

  opacity: 0;

  animation: AppearEffect;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);

}

.Hero h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 132px;
}

.Hero p {

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;

}

.Hero label {

  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  text-transform: uppercase;
}

.Hero button {

  margin: 60px auto;
  padding: 15px 50px;

  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #00a3fe;
  box-sizing: border-box;
  border-radius: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;

  color: white;

  outline: none;
  cursor: pointer;
  transition: 0.5s;

}

.Hero button:hover {

  background: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
  transform: translateY(-3px);

}

.Hero svg {

  position: absolute;
  bottom: 0;
  left: 0;

}

@keyframes AppearEffect {

  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }

}
