

.Card {

  position: relative;
  width: 320px;
  height: 240px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.Card:hover {

  transform: scale(1.05, 1.05);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);

}

.Card img {

  position: absolute;
  top: 0;
  width: 100%;
  height: 110%;
  z-index: -1;

  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.Card:hover img {

  transform: translateY(-10px);

}

.Card h3 {

  width: 190px;
  margin: 20px 0 0 20px;
  color: white;
  font-size: 30px;

}

.Card p {

  margin: 20px 0 0 20px;

  width: 220px;

  color: white;

  font-size: 20px;
  font-weight: 700;

}

/* Efectos */
