.Header {

  /* Posición */
  position: fixed;
  z-index: 100;

  /* Contenedor */
  padding: 40px 0;
  width: 100%;

  /* Color */
  /* Texto */
  /* Otros */

}

.HeaderGroup {

  /* Posición */
  display: grid;
  grid-template-columns: repeat(4,auto);

  align-items: center;
  justify-items: center;

  /* Contenedor */
  max-width: 800px;
  margin: 10px auto;
  /* Color */
  /* Texto */
  /* Otros */

}

 .Header a {

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #00a3fe;

  transition: 0.8s;

 }

 .Header a:hover {

   color: white;
   text-decoration: underline;
   transform: translateY(-3px);


 }

 @media (max-width: 640px) {

   .Header a {

     display: none;

   }

   .Header a:nth-child(1) {

     display: inline;

   }

 }
