/*
  APW 1.1
  Estilo global
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  /* Posición */
  /* Contenedor */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Color */
  /* Texto */
  /* Otros */
}

body {
  /* Posición */
  /* Contenedor */
  line-height: 1.3;
  /* Color */
  background-color: #fefefe;
  /* Texto */
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  /* Otros */
}
